body {
    font-family: corbel;
    font-size: 24px;
    width: 1100px;
    margin: auto;
}

h1 {
    font-size: 64px;
    color: #14931F;
    margin-bottom: 20px;
}

h2,h3{
    color: #14931F;
    text-align: center;
}

.inblock-price,h2 {
    font-size: 48px;
    }

.price li {
    font-size: 18px;
}

header img {
    display: inline-block;
    margin-left: 150px;
}

.top {
    display: block;
    margin: auto;
    width: 400px;
    text-align: center;
    padding-bottom: 100px;
}

.top a {
    background-color: #14931F;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.service ul {
    display: flex;
    width: 900px;
    height: 260px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    padding: 0;
}

.service li {
    display: flex;
    background-color: #DFDBF5;
    margin: 20px;
    width: 247px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.price {
    width: 100%;
    height: fit-content;
    background-color:#DFDBF5;
    padding-top: 20px;
    margin-top: 80px;
}

.price-blocks {
    display: flex;
    width: 1100px;
    justify-content: center;
}

.treatment {
    background-color: #FFFFFF;
    width: 23%;
    margin: 20px 20px 157px 20px;
    border-radius: 20px;
    padding: 15px;
}

.treatment-active {
    background-color: #14931F;
    color: white;
}

.treatment-active h3 {
    color: white;
}

.price-blocks ul {
    list-style-image: url("Vision-for-everyone-pictures/icon1.svg");
    width: 70%;
    height: 134px;
}

.treatment-active ul {
    list-style-image: url("Vision-for-everyone-pictures/icon2.svg");
}

.treatment-active a {
    background-color: white;
}

.price-blocks li {
    margin-bottom: 10px;
}

.price-blocks h3 {
    display: inline-block;
    width: 100%;
    height: 38px;
}

.inblock-price {
    display: inline-block;
    width: 35%;
    margin: 20px;
}
.price-blocks a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.price-blocks a:hover{
    background-color: #14931F;
}

footer {
    background-color: #14931F;
}

small {
    display: block;
    text-align: center;
    line-height: 100px;
}